body::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(234, 234, 234);
    border-radius: 0px;
    cursor: default;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #d9d7d7;
}
table {
    width: 100% !important;
    border-collapse: collapse !important;
    margin-top: 10px !important;
    table-layout: auto !important;
}

table,
th,
td {
    border: 1px solid #ddd !important;
    font-size: 10px !important;
    font-family: monospace !important;
    white-space: nowrap !important;
}

th,
td {
    padding: 8px !important;
    text-align: left !important;
    /* user-select: none; */
}

th {
    background-color: #f2f2f2 !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 0 !important;
}

.fixed-div {
    position: fixed;
    bottom: 5px;
    right: 5px;
}

.btn-fixed {
    border: 1px solid lightgray !important;
    border-radius: 5px;
    outline: none;
    cursor: pointer !important;
    background-color: white;
    color: #aca8a8;
}

.btn-fixed:active {
    transform: translateY(2px);
}

.wrap-colum {
    white-space: wrap !important;
}