.c{
    display: grid;
    grid-column-gap: 5px !important;
    grid-row-gap: 200px !important;
    grid-template-columns: 1fr 1fr 1fr !important;
}

.image-container {
    /* position: absolute; */
    /* width: 312px; */
    /* height: 312px; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    border: 2px solid #d8d8d8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    background: #fff;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    /* this will stretch image to fill both width & height */
    user-select: none;
    pointer-events: none;
}
.fixed-button{
    position: fixed;
    bottom: 5px;
    right: 5px;
}
.btn_add_image{
    background-color: white;
    cursor: pointer !important;
    border: 1px solid lightgray !important;
    outline: none;
    border-radius: 5px;
    font-size: 14px;
    padding: 1px 11px;
    font-family: monospace;
    color: #939393;
    letter-spacing: 0px;
}
.btn_add_image:active{
  transform: translateY(2px);
}

.snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    font-family: sans-serif;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 40px;
    font-size: 17px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 40px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 40px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 40px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 40px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}
.bottom_menu_div{
    position: fixed;
    bottom: 1px;
    left: 6px;
    background-color: white;
}
.noselect_items{
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.plus-icon{
    color: #c7c7c8;
    padding: 5px 6px;
    cursor: pointer;
}
.ul_dv{
    /* background-color: #7a7a7a; */
    border: 1px solid #b3a6a6;
    margin-left: 22px;
    transition: left 0.5s ease;
    padding: 1px 10px;
    border-radius: 10px 10px 0px 0px;
}
.li{
    border-bottom: 1px solid #c3c3c3;
    font-family: monospace;
    font-size: 10px;
    cursor: pointer;
    padding: 2px;
    color: #c3c3c3;
    font-weight: 400;
}
.li:hover{
    color: rgb(87, 87, 87);
}

.plus-icon {
    font-size: 24px;
    transition: transform 0.2s ease;
}

.rotate_0 {
    transform: rotate(0deg);
}
.rotate_45 {
    transform: rotate(45deg);
}
.hide_menu{
    display: none;
}
/* </div>Bottom button Finish */