body{
    margin-top: -8px !important;
    background: #1E1E1E !important;
}   
.c {
    height: 100vh !important;
    width: 100vw !important;
}

.pre {
    color: black !important;
    /* padding-top: 10px !important; */
}
.language-apex{
    background: #1E1E1E !important;
    /* padding-top: 10px !important; */
    /* border-top: 10px solid lightgray !important; */
}
.codesection::-webkit-scrollbar {
    height: 0px !important;
    width: 0px !important;
}

body::-webkit-scrollbar {
    height: 2px !important;
    width: 5px !important;
}

body::-webkit-scrollbar-track {
    background-color: #1E1E1E !important;
}

body::-webkit-scrollbar-thumb {
    background-color: #85858557 !important;
    border-radius: 0px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #555 !important;
}

.pre::before {
    box-shadow: none !important;
}

.pre::after {
    box-shadow: none !important;
}
/* Vs Code Starts */
pre[class*=language-]>code {
    background: #1E1E1E !important;
}
.language-apex{
    color: #9CDCFE !important;
}
.token.string{
    color: #CE9178 !important;
}
.token.comment{
    color: #6A9955 !important;
}
.token.function{
    color: #dcdcaa !important;
}
.token.keyword, .token.boolean{
    color: #358CD6 !important;
}
.token.class-name{
    color: #358CD6 !important;
}
.token.operator{
    color: #d4d4d4 !important;
}
.token.operator{
    background: transparent !important;
}
.token.punctuation{
    color: #d4d4d4 !important;
}
.token.number{
    color: #80c0a8 !important;
}
.pre[class*=language-]>code{
    /* border-left: 0px !important; */
}
::selection {
    background-color: rgba(86, 160, 234, 0.463) !important;; /* Change this to your preferred background color */
}
/* Vs Code Ends */
pre[class*=language-]>code {
    box-shadow: none;
    border-left: none;
}