body {
    overflow: hidden;
    font-family: monospace !important;
}

.d_outer {
    display: grid;
    grid-row-gap: 5px;
    grid-template-rows: 5vh 95vh;
}

.d_top_down {
    height: 100%;
    width: 100%;
}

.top_c {
    display: grid;
    grid-column-gap: 10px !important;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr !important;
    width: 100% !important;
    border-bottom: 2px solid lightgray;
    padding-bottom: 5px !important;
}

.down_c {
    display: grid;
    grid-column-gap: 10px !important;
    grid-template-columns: 1fr 1fr !important;
    width: 100% !important;
    border-bottom: 2px solid lightgray;
    padding-bottom: 5px !important;
}

.d_down_textarea {
    min-height: 90vh !important;
    width: 100% !important;
    outline: none !important;
    border: 1px solid lightgray !important;
}

.log_table {
    min-height: 90vh !important;
    width: 100% !important;
}

.cta {
    width: 100%;
    height: 30px;
    background-color: white !important;
    border: 1px ridge rgba(202, 202, 202, 0.57) !important;
    box-shadow: -1px -1px 8px 3px rgba(202, 202, 202, 0.57) !important;
    border-radius: 5px !important;
    outline: none !important;
    text-align: center !important;
    color: #383846 !important;
}

.d_down_textarea {
    font-size: 12px;
}

.d_down_textarea::-webkit-scrollbar {
    height: 2px !important;
    width: 3px !important;
}

.d_down_textarea::-webkit-scrollbar-track {
    background-color: #f1f1f1 !important;
}

.d_down_textarea::-webkit-scrollbar-thumb {
    background-color: lightgray !important;
    border-radius: 0px;
}

.d_down_textarea::-webkit-scrollbar-thumb:hover {
    background-color: #c8c4c4 !important;
}

.top_select,
.top_createlog_btn,
.top_fetchlog_btn {
    height: 33.5px !important;
}

.top_createlog_btn,
.top_fetchlog_btn {
    cursor: pointer !important;
}

.top_createlog_btn:active,
.top_fetchlog_btn:active {
    transform: translateY(2px);
}

.th,
.td {
    padding: 5.4px !important;
    text-align: center !important;
    border: 2px solid whitesmoke !important;
}

.spinner-div {
    top: 0;
    position: fixed;
    text-align: center;
    width: 100vw;
    background-color: transparent;
    padding-top: 150px;
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    opacity: 0.5;
}

.snackbar-container {
    display: flex;
    justify-content: center;
}

.snackbar {
    visibility: hidden;
    min-width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 5px;
    position: fixed;
    z-index: 1;
    bottom: 80px;
    font-size: 17px;
}

.snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 80px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 80px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 80px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 80px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}
.hide{
    display: none !important;
}
.blur{
    filter: blur(1px) !important;
}
.small_popup_1{
    width: 100vw !important;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    cursor: default !important;
}
.small_popup_1_box{
    background: white !important;
    display: grid;
    grid-template-columns: auto;
    max-height: 400px;
    min-width: 532px;
    text-align: center;
    padding: 5px;
    border: 1px ridge rgba(202,202,202,0.57);
    -webkit-box-shadow: -1px -1px 8px 3px rgba(202,202,202,0.57);
    -moz-box-shadow: -1px -1px 8px 3px rgba(202,202,202,0.57);
    box-shadow: -1px -1px 8px 3px rgba(202,202,202,0.57);
    border-radius: 5px;
    padding-top: 10px;
    opacity: 1;
    position: relative;
}
.small_popup_1_box_heading_div{
    font-size: 25px;
    color: darkslateblue;
    padding: 10px;
}
.small_popup_1_input_box{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    width: 360px;
    outline: none;
    border: 1px ridge rgba(202,202,202,0.57);
    -webkit-box-shadow: -1px -1px 8px 3px rgba(202,202,202,0.57);
    -moz-box-shadow: -1px -1px 8px 3px rgba(202,202,202,0.57);
    box-shadow: -1px -1px 8px 3px rgba(202,202,202,0.57);
    border-radius: 5px;
}
.small_popup_1_box_bottom_div{
    display: grid;
    grid-column-gap: 5px !important;
    grid-template-columns: 1fr 1fr !important;
}
.small_popup_1_btndv{
    height: 100%;
    width: 100%;
    padding: 10px;
}
.small_popup_1_btn{
    outline: none !important;
    border: 1px ridge rgba(202,202,202,0.57) !important;
    -webkit-box-shadow: -1px -1px 8px 3px rgba(202,202,202,0.57) !important;
    -moz-box-shadow: -1px -1px 8px 3px rgba(202,202,202,0.57) !important;
    box-shadow: -1px -1px 8px 3px rgba(202,202,202,0.57) !important;
    border-radius: 5px !important;
    height: 100% !important;
    width: 100% !important;
    background: white !important;
}
.small_popup_1_btn:active{
    transform: translateY(2px);
}
.small_popup_1_close_div{
    right: 0;
    padding-top: 7px;
    position: absolute;
    padding-right: 14px;
}
.close-icon_1{
    color:  #c0c0c0;
    cursor: pointer !important;
}

.table_1{
    height: 100% !important;
    width: 100% !important;
    border: 1px ridge rgba(202, 202, 202, 0.57) !important;
    box-shadow: -1px -1px 8px 3px rgba(202, 202, 202, 0.57) !important;
}
.thead_1{
    border-bottom: 2px solid rgb(229, 226, 226) !important;
}
.th_1{
    padding: 7px !important;
    text-align: center !important;
    border-bottom: 1px solid whitesmoke !important;
    font-size: 13px !important;
    color: rgb(61, 57, 57) !important;
    text-transform: uppercase !important;
}
.td_1{
    padding: 7px !important;
    text-align: center !important;
    border-bottom: 1px solid whitesmoke !important;
    color: rgb(42, 40, 40) !important;
}
.small_popup_1{
    overflow: hidden !important;
}
.small_popup_1_box_middle_div{
    overflow: auto;
}
.small_popup_1_box_middle_div::-webkit-scrollbar {
    height: 2px !important;
    width: 2px !important;
}
.small_popup_1_box_middle_div::-webkit-scrollbar-track {
    background-color: #f1f1f1 !important;
}
.small_popup_1_box_middle_div::-webkit-scrollbar-thumb {
    background-color: lightgray !important;
    border-radius: 0px;
}
.small_popup_1_box_middle_div::-webkit-scrollbar-thumb:hover {
    background-color: #878484 !important;
}
.th_1_Id{
    cursor: pointer !important;
}
/* ace override starts */
.ace_print-margin{
    left: 0 !important;
    visibility: visible !important;
}
.ace_gutter{
    background: #f9f9f9 !important;
}
.ace-tm .ace_gutter{
    color: #6e6e6e !important;
}
.ace_content{
    position: relative !important;
}
.ace_scrollbar::-webkit-scrollbar {
    height: 2px !important;
    width: 5px !important;
}
.ace_scrollbar::-webkit-scrollbar-track {
    background-color: #f1f1f1 !important;
}
.ace_scrollbar::-webkit-scrollbar-thumb {
    background-color: lightgray !important;
    border-radius: 0px;
}
.ace_scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #b1aeae !important;
}
/* ace override ends */

/* Bottom button Starts */
.bottom_menu_div{
    position: fixed;
    bottom: 0;
    left: 0;
  }
  .noselect_items{
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
  .bottom_menu_btn{
    background: white;
    border: 1px solid white;
    font-size: 10px;
    color: cadetblue;
    padding: 2px 7px;
    cursor: pointer;
    font-family: monospace;
  }
  .ul_dv{
    background-color: cadetblue !important;
    margin-left: 21px;
    transition: left 0.5s ease;
    padding: 1px 10px;
    border-radius: 10px 10px 0px 0px;
  }
  .page_li{
    border-bottom: 1px solid #c3c3c3;
    font-family: monospace;
    font-size: 10px;
    cursor: pointer;
    padding: 2px;
    color: white;
    margin-left: -21px;
    font-weight: 400;
  }
  .page_li:hover{
    color: rgb(232, 232, 232);
  }
  
  .plus-icon {
    font-size: 24px;
    transition: transform 0.2s ease;
  }
  
  .rotate_0 {
    transform: rotate(0deg);
  }
  .rotate_45 {
    transform: rotate(45deg);
  }
  .hide_menu{
    display: none;
  }
  /* </div>Bottom button Finish */