.c{
    overflow-x: auto;
    max-height: 92vh;
    border: 1px solid whitesmoke;
    padding: 0px 20px;
    font-family: monospace !important;
 }
 
 .btn{
   outline: none !important;
   border: 1px ridge rgba(202,202,202,0.57) !important;
   padding: 7px !important;
   text-align: center !important;
   border-bottom: 1px solid #d8d8d8 !important;
   color: rgb(42, 40, 40) !important;
   height: 100% !important;
   width: 100% !important;
   background: white !important;
   cursor: pointer !important;
 }
 .btn:active{
   transform: translateY(2px);
 }
 .txt_area{
   min-height: 90vh !important;
   width: 100% !important;
   outline: none;
   /* border: 1px solid whitesmoke; */
   padding: 5px;
   font-family: monospace !important;
   font-size: 12px;
 }
 .c::-webkit-scrollbar {
     width: 18px !important;
     height: 1px !important;
 }
 .c::-webkit-scrollbar-track {
     background-color: #f1f1f1 !important;
 }
 .c::-webkit-scrollbar-thumb {
     background-color: rgb(233, 231, 231) !important;
     border-radius: 0px;
 }
 .c::-webkit-scrollbar-thumb:hover {
     background-color: lightgray !important;
 }

 .table_dv::-webkit-scrollbar {
  height: 5px !important;
     width: 5px !important;
}
.table_dv::-webkit-scrollbar-track {
  background-color: #f1f1f1 !important;
}
.table_dv::-webkit-scrollbar-thumb {
  background-color: rgb(233, 231, 231) !important;
  border-radius: 0px;
}
.table_dv::-webkit-scrollbar-thumb:hover {
  background-color: lightgray !important;
  cursor: default !important;
}

 .fixed-button{
   position: fixed;
   bottom: 0;
   width: 100%;
   padding: 10px;
   /* border: 1px solid whitesmoke; */
 }
 .table{
   width: 98%;
    padding: 10px;
 }
 .td{
   text-align: center !important;
   cursor: pointer !important;
   padding: 1px !important;
   font-size: 11px;
   color: #bbbbbb;
 }
 td:not(:first-child):not(:last-child) {
  border-right: 1px solid #e8e8e8;
}
td:first-child {
    border-right: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
}
td:last-child{
  border-right: 1px solid #e8e8e8;
}
 .selected_td{
   color: #a38ae9;

 }
 .spinner-div {
    top: 0;
    position: fixed;
    text-align: center;
    width: 100vw;
    background-color: transparent;
    padding-top: 150px;
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    opacity: 0.5;
}
.fixed_checkbox_div{
  position: fixed;
  right: 8px;
}
.fixed_checkbox_div_1{
  bottom: 38px;
}
.fixed_checkbox_div_2{
  bottom: 20px;
}
.fixed_checkbox_div_3{
  bottom: 3px;
}
.checkbox_icon{
  color: #d2d1d1  !important;
  /* color: #ccc2e8  !important; */
  cursor: pointer !important;
}

/* Bottom button Starts */
.bottom_menu_div{
  position: fixed;
  bottom: 0;
  left: 0;
}
.noselect_items{
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.plus-icon{
  color: cadetblue;
  padding: 5px 6px;
  cursor: pointer;
}
.ul_dv{
  background-color: cadetblue;
  margin-left: 22px;
  transition: left 0.5s ease;
  padding: 1px 10px;
  border-radius: 10px 10px 0px 0px;
}
.li{
  border-bottom: 1px solid #c3c3c3;
  font-family: monospace;
  font-size: 10px;
  cursor: pointer;
  padding: 2px;
  color: white;
  font-weight: 400;
}
.li:hover{
  color: #eeeec6;
}

.plus-icon {
  color: #cacaca;
    padding: 5px 6px;
    cursor: pointer;
    background-color: transparent;
    font-size: 14px !important;
    transition: transform 0.2s ease;
}

.rotate_0 {
  transform: rotate(0deg);
}
.rotate_45 {
  transform: rotate(45deg);
}
.hide_menu{
  display: none;
}
/* </div>Bottom button Finish */