body{
    font-family: system-ui;
    font-size: 12px;
}
body::-webkit-scrollbar {
    height: 2px !important;
    width: 5px !important;
}

body::-webkit-scrollbar-track {
    background-color: #f1f1f1 !important;
}

body::-webkit-scrollbar-thumb {
    background-color: lightgray !important;
    border-radius: 0px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #555 !important;
}

.r-box-outer {
    display: grid !important;
    grid-template-rows: 67px auto !important;
    grid-row-gap: 2px !important;
    padding: 10px !important;
}

.r-box-1 {
    background: #fafdfc;
    border: 1px ridge rgba(202, 202, 202, 0.57) !important;
    -webkit-box-shadow: -1px -1px 8px 3px rgba(202, 202, 202, 0.57) !important;
    -moz-box-shadow: -1px -1px 8px 3px rgba(202, 202, 202, 0.57) !important;
    box-shadow: -1px -1px 8px 3px rgba(202, 202, 202, 0.57) !important;
    border-radius: 5px !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 1 !important;
}

.r-box-2 {
    display: grid !important;
    grid-template-columns: auto auto auto auto auto !important;
    grid-column-gap: 20px !important;
    border: 1px ridge rgba(202, 202, 202, 0.57) !important;
    -webkit-box-shadow: -1px -1px 8px 3px rgba(202, 202, 202, 0.57) !important;
    -moz-box-shadow: -1px -1px 8px 3px rgba(202, 202, 202, 0.57) !important;
    box-shadow: -1px -1px 8px 3px rgba(202, 202, 202, 0.57) !important;
    padding-bottom: 50px !important;
    overflow: auto !important;
}

.r-box-2::-webkit-scrollbar {
    height: 5px !important;
    width: 5px !important;
}

.r-box-2::-webkit-scrollbar-track {
    background-color: #f1f1f1 !important;
}

.r-box-2::-webkit-scrollbar-thumb {
    background-color: lightgray !important;
    border-radius: 0px;
}

.r-box-2::-webkit-scrollbar-thumb:hover {
    background-color: #a7a7a7 !important;
}

.r-box-1 {
    display: grid !important;
    grid-template-columns: 44% auto !important;
}

.r-box-1_2 {
    display: flex !important;
    justify-content: left !important;
    align-items: center !important;
}

.searchdivparent {
    display: grid;
    grid-column-gap: 30% !important;
    grid-template-columns: 100% 100% !important;
}

.searchdivchild {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    height: 24px !important;
    color: #032D60 !important;
}

.r-box-1_1 {
    font-size: 15px !important;
    padding-left: 20px !important;
    color: black !important;
    display: grid;
    grid-column-gap: 5px !important;
    grid-template-columns: 1.5fr 0.5fr !important;
}

.dv_left {
    display: flex;
    align-items: center !important;
}

.dv_right {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    padding-bottom: 5px !important;
}

.recodid-span {
    font-weight: bold !important;
    cursor: pointer;
}

.inp-search {
    width: 100% !important;
    padding: 3px !important;
    outline: none !important;
    text-align: center !important;
    height: 100% !important;
    border-radius: 2px !important;
    border: 1px ridge rgba(202, 202, 202, 0.57) !important;
    background: #fbfbfb !important;
    font-size: 13px !important;
    color: #032D60 !important;
}

.r-box-2_c {
    padding: 10px !important;
    border-bottom: 1px solid lightgray !important;
}

.field {
    color: teal !important;
    padding-bottom: 2px !important;
}

.snackbar-container {
    display: flex;
    justify-content: center;
}

.snackbar {
    visibility: hidden;
    min-width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 5px;
    position: fixed;
    z-index: 1;
    bottom: 80px;
    font-size: 15px;
}

.snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 80px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 80px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 80px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 80px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

.spinner-div {
    top: 0;
    position: fixed;
    text-align: center;
    width: 100vw;
    background-color: transparent;
    padding-top: 150px;
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    opacity: 0.5;
}

.spinner-div-2 {
    top: 0;
    position: fixed;
    text-align: center;
    width: 100vw;
    background-color: transparent;
    padding-top: 150px;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f547;
    opacity: 0.5;
}

input[type="checkbox"] {
    display: none !important;
}

input[type="checkbox"]:checked+label::before {
    content: "\2713" !important;
    width: 20px !important;
    height: 20px !important;
    background-color: white !important;
    border: 2px solid #e9e7e7 !important;
    border-radius: 3px !important;
    margin-right: 5px !important;
    vertical-align: middle !important;
    cursor: pointer !important;
    padding: 0px 5px 0px 5px;
    color: teal !important;
}

input[type="checkbox"]+label::before {
    content: "\2713" !important;
    width: 20px !important;
    height: 20px !important;
    background-color: white !important;
    border: 2px solid #e9e7e7 !important;
    border-radius: 3px !important;
    margin-right: 5px !important;
    vertical-align: middle !important;
    cursor: pointer !important;
    padding: 0px 5px 0px 5px;
    color: white !important;
}

input[type="checkbox"]:checked+label::before {
    background-color: #f4f4f4 !important;
    border-color: #e2e2e2 !important;
}

label {
    font-size: 16px !important;
}

.center-v {
    display: flex;
    align-items: center !important;
}
.sObjectToApex-dv{
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    padding-top: 3px;
    padding-right: 30px;
}
.sObjectToApex{
  outline: none !important;
  border: none;
  border-radius: 2px !important;
  height: 100% !important;
  width: 100% !important;
  background: white !important;
  padding: 4px;
  cursor: pointer !important;
  color: #b9b9b9 !important;
  font-family: monospace;
}
.sObjectToApex:active{
  transform: translateY(2px);
}
.center-v-2 {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}

.blur {
    filter: blur(2px) !important;
}

.small_popup {
    height: 100vh !important;
    width: 100vw !important;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

.small_popup_box {
    background: white !important;
    display: grid;
    grid-template-columns: auto;
    height: 180px;
    width: 532px;
    text-align: center;
    padding: 5px;
    border: 1px ridge rgba(202, 202, 202, 0.57);
    -webkit-box-shadow: -1px -1px 8px 3px rgba(202, 202, 202, 0.57);
    -moz-box-shadow: -1px -1px 8px 3px rgba(202, 202, 202, 0.57);
    box-shadow: -1px -1px 8px 3px rgba(202, 202, 202, 0.57);
    border-radius: 5px;
    padding-top: 12px;
    opacity: 1;
    position: relative;
    cursor: default !important;
}

.small_popup_box_heading_div {
    font-size: 20px;
    color: teal;
    font-family: monospace;
}
.searchdivchild1, .searchdivchild2{
    color: #104789 !important;
    font-size: 13px;
}

.small_popup_input_box,
.picklist,
.textarea {
    text-align: center;
    padding: 9px;
    font-size: 14px;
    width: 360px;
    outline: none;
    border: 1px ridge rgba(202, 202, 202, 0.57);
    -webkit-box-shadow: -1px -1px 8px 3px rgba(202, 202, 202, 0.57);
    -moz-box-shadow: -1px -1px 8px 3px rgba(202, 202, 202, 0.57);
    box-shadow: -1px -1px 8px 3px rgba(202, 202, 202, 0.57);
    border-radius: 5px;
    color: #032D60 !important;
}

.textarea::-webkit-scrollbar {
    height: 2px !important;
    width: 5px !important;
}

.textarea::-webkit-scrollbar-track {
    background-color: #f1f1f1 !important;
}

.textarea::-webkit-scrollbar-thumb {
    background-color: lightgray !important;
    border-radius: 0px;
}

.textarea::-webkit-scrollbar-thumb:hover {
    background-color: #555 !important;
}

.small_popup_box_bottom_div {
    display: grid;
    grid-column-gap: 5px !important;
    grid-template-columns: 1fr 1fr !important;
    padding: 0px 50px !important;
}

.small_popup_btndv {
    height: 60%;
    padding: 7px;
}

.small_popup_btn {
    outline: none !important;
    border: 1px ridge rgba(202, 202, 202, 0.57) !important;
    -webkit-box-shadow: -1px -1px 8px 3px rgba(202, 202, 202, 0.57) !important;
    -moz-box-shadow: -1px -1px 8px 3px rgba(202, 202, 202, 0.57) !important;
    box-shadow: -1px -1px 8px 3px rgba(202, 202, 202, 0.57) !important;
    border-radius: 5px !important;
    height: 100% !important;
    width: 100% !important;
    background: white !important;
    color: #032D60 !important;
    text-transform: uppercase !important;
    cursor: pointer !important;
}

.small_popup_btn:active {
    transform: translateY(2px);
}

.small_popup_close_div {
    right: 0;
    padding-top: 7px;
    position: absolute;
    padding-right: 14px;
}

.close-icon {
    color: #c0c0c0;
    cursor: pointer !important;
}

.noselect {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.blur-2 {
    filter: blur(3px) !important;
}

.small_popup_2 {
    height: 100vh !important;
    width: 100vw !important;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    padding-top: 190px;
    z-index: 1 !important;
}

.small_popup_2_box {
    background: white !important;
    display: grid;
    grid-template-columns: auto;
    height: 120px;
    width: 80%;
    text-align: center;
    padding: 5px;
    border: 1px ridge rgba(202, 202, 202, 0.57);
    -webkit-box-shadow: -1px -1px 8px 3px rgba(202, 202, 202, 0.57);
    -moz-box-shadow: -1px -1px 8px 3px rgba(202, 202, 202, 0.57);
    box-shadow: -1px -1px 8px 3px rgba(202, 202, 202, 0.57);
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 1;
    position: relative;
}

.small_popup_2_box_heading_div {
    font-size: 25px;
    color: #950c0c;
}

.small_popup_2_box_bottom_div {
    display: grid;
    grid-column-gap: 5px !important;
    grid-template-columns: 1fr 1fr !important;
}

.small_popup_2_btndv {
    height: 100%;
    width: 100%;
    padding: 10px;
}

.small_popup_2_btn {
    outline: none !important;
    border: 1px ridge rgba(202, 202, 202, 0.57) !important;
    -webkit-box-shadow: -1px -1px 8px 3px rgba(202, 202, 202, 0.57) !important;
    -moz-box-shadow: -1px -1px 8px 3px rgba(202, 202, 202, 0.57) !important;
    box-shadow: -1px -1px 8px 3px rgba(202, 202, 202, 0.57) !important;
    border-radius: 5px !important;
    height: 100% !important;
    width: 100% !important;
    background: white !important;
}

.small_popup_2_btn:active {
    transform: translateY(2px);
}

.small_popup_2_close_div {
    right: 0;
    padding-top: 7px;
    position: absolute;
    padding-right: 14px;
}

.close-icon-2 {
    color: #c0c0c0;
    cursor: pointer !important;
}

.small_popup_2_box_middle_div {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    font-size: 13px !important;
}

.small_popup_2_input_box {
    width: 90% !important;
    text-align: center;
    padding: 10px;
    outline: none;
    border: 1px ridge rgba(241, 190, 190, 0.57);
    -webkit-box-shadow: -1px -1px 8px 3px rgba(202, 202, 202, 0.57);
    -moz-box-shadow: -1px -1px 8px 3px rgba(202, 202, 202, 0.57);
    box-shadow: -1px -1px 8px 3px rgba(233, 172, 172, 0.57);
    border-radius: 5px;
    color: red !important;
}

.hide {
    display: none !important;
}

.small_popup_2 {
    animation: slideDown 0.2s;
}

.small_popup {
    animation: zoomIn 0.2s;
}

@keyframes slideDown {
    0% {
        transform: translate(1px, -100px);
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0.0);
    }

    1% {
        transform: scale(0.01);
    }

    2% {
        transform: scale(0.02);
    }

    3% {
        transform: scale(0.03);
    }

    4% {
        transform: scale(0.04);
    }

    5% {
        transform: scale(0.05);
    }

    6% {
        transform: scale(0.06);
    }

    7% {
        transform: scale(0.07);
    }

    8% {
        transform: scale(0.08);
    }

    9% {
        transform: scale(0.09);
    }

    10% {
        transform: scale(0.10);
    }

    11% {
        transform: scale(0.11);
    }

    12% {
        transform: scale(0.12);
    }

    13% {
        transform: scale(0.13);
    }

    14% {
        transform: scale(0.14);
    }

    15% {
        transform: scale(0.15);
    }

    16% {
        transform: scale(0.16);
    }

    17% {
        transform: scale(0.17);
    }

    18% {
        transform: scale(0.18);
    }

    19% {
        transform: scale(0.19);
    }

    20% {
        transform: scale(0.20);
    }

    21% {
        transform: scale(0.21);
    }

    22% {
        transform: scale(0.22);
    }

    23% {
        transform: scale(0.23);
    }

    24% {
        transform: scale(0.24);
    }

    25% {
        transform: scale(0.25);
    }

    26% {
        transform: scale(0.26);
    }

    27% {
        transform: scale(0.27);
    }

    28% {
        transform: scale(0.28);
    }

    29% {
        transform: scale(0.29);
    }

    30% {
        transform: scale(0.30);
    }

    31% {
        transform: scale(0.31);
    }

    32% {
        transform: scale(0.32);
    }

    33% {
        transform: scale(0.33);
    }

    34% {
        transform: scale(0.34);
    }

    35% {
        transform: scale(0.35);
    }

    36% {
        transform: scale(0.36);
    }

    37% {
        transform: scale(0.37);
    }

    38% {
        transform: scale(0.38);
    }

    39% {
        transform: scale(0.39);
    }

    40% {
        transform: scale(0.40);
    }

    41% {
        transform: scale(0.41);
    }

    42% {
        transform: scale(0.42);
    }

    43% {
        transform: scale(0.43);
    }

    44% {
        transform: scale(0.44);
    }

    45% {
        transform: scale(0.45);
    }

    46% {
        transform: scale(0.46);
    }

    47% {
        transform: scale(0.47);
    }

    48% {
        transform: scale(0.48);
    }

    49% {
        transform: scale(0.49);
    }

    50% {
        transform: scale(0.50);
    }

    51% {
        transform: scale(0.51);
    }

    52% {
        transform: scale(0.52);
    }

    53% {
        transform: scale(0.53);
    }

    54% {
        transform: scale(0.54);
    }

    55% {
        transform: scale(0.55);
    }

    56% {
        transform: scale(0.56);
    }

    57% {
        transform: scale(0.57);
    }

    58% {
        transform: scale(0.58);
    }

    59% {
        transform: scale(0.59);
    }

    60% {
        transform: scale(0.60);
    }

    61% {
        transform: scale(0.61);
    }

    62% {
        transform: scale(0.62);
    }

    63% {
        transform: scale(0.63);
    }

    64% {
        transform: scale(0.64);
    }

    65% {
        transform: scale(0.65);
    }

    66% {
        transform: scale(0.66);
    }

    67% {
        transform: scale(0.67);
    }

    68% {
        transform: scale(0.68);
    }

    69% {
        transform: scale(0.69);
    }

    70% {
        transform: scale(0.70);
    }

    71% {
        transform: scale(0.71);
    }

    72% {
        transform: scale(0.72);
    }

    73% {
        transform: scale(0.73);
    }

    74% {
        transform: scale(0.74);
    }

    75% {
        transform: scale(0.75);
    }

    76% {
        transform: scale(0.76);
    }

    77% {
        transform: scale(0.77);
    }

    78% {
        transform: scale(0.78);
    }

    79% {
        transform: scale(0.79);
    }

    80% {
        transform: scale(0.80);
    }

    81% {
        transform: scale(0.81);
    }

    82% {
        transform: scale(0.82);
    }

    83% {
        transform: scale(0.83);
    }

    84% {
        transform: scale(0.84);
    }

    85% {
        transform: scale(0.85);
    }

    86% {
        transform: scale(0.86);
    }

    87% {
        transform: scale(0.87);
    }

    88% {
        transform: scale(0.88);
    }

    89% {
        transform: scale(0.89);
    }

    90% {
        transform: scale(0.90);
    }

    91% {
        transform: scale(0.91);
    }

    92% {
        transform: scale(0.92);
    }

    93% {
        transform: scale(0.93);
    }

    94% {
        transform: scale(0.94);
    }

    95% {
        transform: scale(0.95);
    }

    96% {
        transform: scale(0.96);
    }

    97% {
        transform: scale(0.97);
    }

    98% {
        transform: scale(0.98);
    }

    99% {
        transform: scale(0.99);
    }

    100% {
        transform: scale(1.00);
    }
}

.small_popup_3 {
    animation: slideUp 0.2s;
}

@keyframes slideUp {
    0% {
        transform: translate(1px, -80px);
    }
}

.small_popup_3 {
    min-height: 190px !important;
    width: 100vw !important;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    padding-top: 120px;
    z-index: 1;
}

.small_popup_3_box {
    background: white !important;
    display: grid;
    grid-template-columns: auto;
    max-height: 300px;
    width: 80%;
    text-align: center;
    padding: 5px;
    border: 1px ridge rgba(202, 202, 202, 0.57);
    -webkit-box-shadow: -1px -1px 8px 3px rgba(202, 202, 202, 0.57);
    -moz-box-shadow: -1px -1px 8px 3px rgba(202, 202, 202, 0.57);
    box-shadow: -1px -1px 8px 3px rgba(202, 202, 202, 0.57);
    border-radius: 5px;
    padding-top: 10px;
    opacity: 1;
    position: relative;
    padding-bottom: 20px !important;
}

.small_popup_3_box_heading_div {
    font-size: 14px !important;
    color: teal;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

.small_popup_3_close_div {
    right: 0;
    padding-top: 7px;
    position: absolute;
    padding-right: 14px;
}

.close-icon_3 {
    color: #c0c0c0;
    cursor: pointer !important;
}

.childrelations {
    text-align: center;
    padding: 10px;
    font-size: 15px;
    width: 40%;
    outline: none;
    border: 1px ridge rgba(202, 202, 202, 0.57);
    -webkit-box-shadow: -1px -1px 8px 3px rgba(202, 202, 202, 0.57);
    -moz-box-shadow: -1px -1px 8px 3px rgba(202, 202, 202, 0.57);
    box-shadow: -1px -1px 8px 3px rgba(202, 202, 202, 0.57);
    border-radius: 5px;
    color: #104789 !important;
}

.small_popup_3_box_middle_div {
    overflow: auto !important;
}

.small_popup_3_box_middle_div::-webkit-scrollbar {
    height: 2px !important;
    width: 5px !important;
}

.small_popup_3_box_middle_div::-webkit-scrollbar-track {
    background-color: #f1f1f1 !important;
}

.small_popup_3_box_middle_div::-webkit-scrollbar-thumb {
    background-color: rgb(218, 224, 224) !important;
    border-radius: 0px;
}

.small_popup_3_box_middle_div::-webkit-scrollbar-thumb:hover {
    background-color: #555 !important;
}

.spb3_table {
    border-collapse: collapse !important;
    table-layout: fixed !important;
    width: 100% !important;
    background: white !important;
}

.spb3_th,
.spb3_td {
    border: 1px solid lightgray !important;
    padding: 8px !important;
    text-align: center !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}

.spb3_th {
    background: teal !important;
    color: white !important;
    text-transform: uppercase !important;
    font-weight: normal !important;
}

.spb3_table tr:first-child td {
    border-top: none !important;
}

.spb3_thead {
    position: sticky !important;
    top: 0 !important;
    z-index: 1 !important;
}

.recID-div,
.parentId,
.recId {
    cursor: pointer !important;
}

.draggable {
    cursor: default !important;
}

.spb3_td::-webkit-scrollbar {
    height: 1px !important;
    width: 1px !important;
}

.spb3_td::-webkit-scrollbar-track {
    background-color: #f1f1f1 !important;
}

.spb3_td::-webkit-scrollbar-thumb {
    background-color: lightgray !important;
    border-radius: 0px;
}

.spb3_td::-webkit-scrollbar-thumb:hover {
    background-color: #555 !important;
}

.spb3_td {
    overflow: auto !important;
}

/* MODAL STARTS */

.blur_4{
    filter: blur(1px) !important;
}
.small_popup_4{
    width: 100vw !important;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    cursor: default !important;
}
.small_popup_4_box{
    background: white !important;
    display: grid;
    grid-template-columns: auto;
    width: 632px;
    text-align: center;
    padding: 5px;
    border: 1px ridge rgba(202,202,202,0.57);
    -webkit-box-shadow: -1px -1px 8px 3px rgba(202,202,202,0.57);
    -moz-box-shadow: -1px -1px 8px 3px rgba(202,202,202,0.57);
    box-shadow: -1px -1px 8px 3px rgba(202,202,202,0.57);
    border-radius: 5px;
    padding-top: 10px;
    opacity: 1;
    position: relative;
}
.small_popup_4_box_heading_div{
    font-size: 17px;
    color: teal;
    padding-bottom: 10px;
    font-family: monospace;
}
.small_popup_4_box_middle_div{
    border: 1px solid whitesmoke !important;
    border-radius: 2px;
    height: 500px;
}
.small_popup_4_close_div{
    right: 0;
    padding-top: 7px;
    position: absolute;
    padding-right: 14px;
}
.close-icon_4{
    color:  #c0c0c0;
    cursor: pointer !important;
}
.small_popup_4_copy_div{
    position: absolute;
    top: 52px;
    z-index: 4;
    right: 25px;
}
.single_multi_dv{
    position: absolute;
    top: 11px;
    left: 13px;
}
.eye_icon{
    color: #88b9b9 !important;
    cursor: pointer !important;
}
.single_multi_dv_2{
    position: absolute;
    top: 11px;
    left: 36px;
}
.eye_icon_2{
    color: #88b9b9 !important;
    cursor: pointer !important;
}
.single_multi_dv_3{
    position: absolute;
    top: 11px;
    left: 60px;
}
.eye_icon_3{
    color: #88b9b9 !important;
    cursor: pointer !important;
}
.single_multi_dv_4{
    position: absolute;
    top: 11px;
    left: 85px;
}
.eye_icon_4{
    color: #88b9b9 !important;
    cursor: pointer !important;
}
.copy-icon_4{
    color: #88b9b9 !important;
    cursor: pointer !important;
}
/* ace override starts */
.ace_print-margin{
    left: 0 !important;
    visibility: visible !important;
}
.ace_gutter{
    background: #f9f9f9 !important;
}
.ace-tm .ace_gutter{
    color: #6e6e6e !important;
}
.ace_content{
    position: relative !important;
}
.ace_scrollbar::-webkit-scrollbar {
    height: 2px !important;
    width: 5px !important;
}
.ace_scrollbar::-webkit-scrollbar-track {
    background-color: #f1f1f1 !important;
}
.ace_scrollbar::-webkit-scrollbar-thumb {
    background-color: lightgray !important;
    border-radius: 0px;
}
.ace_scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #b1aeae !important;
}
/* ace override ends */
/* Bottom button Starts */
.bottom_menu_div{
    position: fixed;
    bottom: 0;
    left: 0;
}
.noselect_items{
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.plus-icon{
    color: cadetblue;
    padding: 5px 6px;
    cursor: pointer;
}
.ul_dv{
    background-color: cadetblue;
    margin-left: 22px;
    transition: left 0.5s ease;
    padding: 1px 10px;
    border-radius: 10px 10px 0px 0px;
}
.li{
    border-bottom: 1px solid #c3c3c3;
    font-family: monospace;
    font-size: 10px;
    cursor: pointer;
    padding: 2px;
    color: white;
    font-weight: 400;
}
.li:hover{
    color: #eeeec6;
}

.plus-icon {
    color: #cacaca;
    padding: 5px 6px;
    cursor: pointer;
    background-color: transparent;
    font-size: 14px !important;
    transition: transform 0.2s ease;
}

.rotate_0 {
    transform: rotate(0deg);
}
.rotate_45 {
    transform: rotate(45deg);
}
.hide_menu{
    display: none;
}
/* </div>Bottom button Finish */