* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.d_outer {
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
}

.containers {
    display: grid;
    grid-row-gap: 5px;
    grid-template-rows: auto auto;
    /* border: 1px solid rgb(105, 103, 103); */
    border: 1px ridge rgba(202, 202, 202, 0.57) !important;
    -webkit-box-shadow: -1px -1px 8px 3px rgba(202, 202, 202, 0.57) !important;
    -moz-box-shadow: -1px -1px 8px 3px rgba(202, 202, 202, 0.57) !important;
    box-shadow: -1px -1px 8px 3px rgba(202, 202, 202, 0.57) !important;
    border-radius: 5px !important;
    padding: 2px;
}

.inp {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    outline: none !important;
    height: 40px;
    color: rgb(117, 118, 118);
    opacity: 1;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid gray;
    font-family: 'sans-serif';
    
}
.inp::placeholder {
  /* color: rgb(44, 177, 137); */
  color: rgb(38, 129, 102);
  opacity: 1;
  font-size: 20px;
  font-family: 'sans-serif';
}
.table{
    border: 1px solid lightgray !important;
    width: 100% !important;
    height: 220px !important;
    border: 1px ridge rgba(202, 202, 202, 0.57) !important;
    box-shadow: -1px -1px 8px 1px rgba(202, 202, 202, 0.57);
    border-radius: 5px !important;
}
.my_name{
    color: #1e958a !important;
}
.td{
    border-bottom: 1px solid lightgray !important;
}
.omnicards_td_col{
    color: #796d6d;
    font-weight: 600;
    padding-left: 10px;
    width: 100px !important;
}
.cards{
    padding: 5px;
    display: grid;
    grid-row-gap: 5px !important;
    grid-template-rows: auto !important;
    height: 90vh !important;
    overflow: auto;
}
.cards::-webkit-scrollbar {
    height: 2px !important;
    width: 10px !important;
}
.cards::-webkit-scrollbar-track {
    background-color: #f1f1f1 !important;
}
.cards::-webkit-scrollbar-thumb {
    background-color: lightgray !important;
    border-radius: 0px;
}
.cards::-webkit-scrollbar-thumb:hover {
    background-color: #b1aeae !important;
}
.btn{
    border: 1px solid #e0e0e0;
    color: #b1b1b1;
    border-radius: 4px;
    cursor: pointer !important;
}
.btn:hover{
    color: #959494;
}
.spinner-div {
    top: 0;
    position: fixed;
    text-align: center;
    width: 100vw;
    background-color: transparent;
    padding-top: 150px;
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    opacity: 0.5;
}
.btn_tds{
    padding: 4px;
}