.c{
    background-color: white;
    /* border: 1px solid lightgray; */
    display: grid;
    grid-column-gap: 1px;
    grid-template-columns: 70% auto;
    height: 97vh;
}
.cdv_left{
    /* border: 1px solid lightgray; */
    display: grid;
    grid-template-rows: 50% 50%;
    font-size: 11px;
    font-family: monospace;
    color: #313131;
    height: 96vh;
}
.cleftdvs{
    border: 1px solid lightgray;
    padding: 5px;
    overflow: auto;
}
/* .cleftdvs::-webkit-scrollbar {
    height: 10px !important;
    width: 10px !important;
}
.cleftdvs::-webkit-scrollbar-track {
    background-color: #f1f1f1 !important;
}
.cleftdvs::-webkit-scrollbar-thumb {
    background-color: lightgray !important;
    border-radius: 0px;
}
.cleftdvs::-webkit-scrollbar-thumb:hover {
    background-color: #b1aeae !important;
} */
.t_x_table, .b_x_table{
    border-collapse: collapse;
    min-width: 100%;
    text-indent: initial;
    unicode-bidi: isolate;
}
.t_x_th, .b_x_th{
    border: 1px solid #767676;
    color: #191717;
}
.t_x_td, .b_x_td{
    border: 1px solid #767676;
}
.t_x_th, .t_x_td{
    padding: 2px;
}

.cdv_right{
    border: 1px solid lightgray;
    display: grid;
    grid-template-rows: 50% 50%;
    font-size: 11px;
    font-family: monospace;
    color: #313131;
    padding: 3px;
    height: fit-content;
}
.btn_table{
    table-layout: fixed;
    border-collapse: separate;
    /* border-spacing: 3px; */
}
.btn_td{
    width: 50%;
}
.btn{
    width: 100%;
    cursor: pointer;
}
.inp{
    width: 97%;
    text-align: center;
    outline: none;
}
.btns_dv_top{
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: 1fr 1fr;
}
.pst_btn{
    width: 100%;
    height: 100%;
    background-color: white;
    outline: none;
    border: none;
    color: darkgray;
    cursor: pointer;
}
.txt_area{
    width: 98.6%;
    outline: none;
    size: 10;
}
.t_x_th,.b_x_th,.t_x_td,.b_x_td{
    cursor: default;
}
.t_x_th,.b_x_th,.t_x_td,.b_x_td{
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}