.c{
    background-color: white;
    /* border: 1px solid lightgray; */
    display: grid;
    grid-column-gap: 1px;
    grid-template-columns: 70% auto;
    height: 97vh;
}
.cdv_left{
    /* border: 1px solid lightgray; */
    display: grid;
    grid-template-rows: 50% 50%;
    font-size: 11px;
    font-family: monospace;
    color: #313131;
    height: 96vh;
}
.cleftdvs{
    border: 1px solid lightgray;
    padding: 5px;
    overflow: auto;
}
/* .cleftdvs::-webkit-scrollbar {
    height: 10px !important;
    width: 10px !important;
}
.cleftdvs::-webkit-scrollbar-track {
    background-color: #f1f1f1 !important;
}
.cleftdvs::-webkit-scrollbar-thumb {
    background-color: lightgray !important;
    border-radius: 0px;
}
.cleftdvs::-webkit-scrollbar-thumb:hover {
    background-color: #b1aeae !important;
} */
.t_x_table{
    border-collapse: collapse;
    min-width: 100%;
}
.t_x_th{
    border: 1px solid #767676;
    color: #191717 !important;
}
.t_x_td{
    border: 1px solid #767676;
}
.t_x_th, .t_x_td{
    padding: 2px;
}

.cdv_right{
    border: 1px solid lightgray;
    display: grid;
    grid-template-rows: 50% 50%;
    font-size: 11px;
    font-family: monospace;
    color: #313131;
    height: 96vh;
    padding: 5px;
}
.btn{
    width: 100%;
}
.inp{
    width: 100%;
}
.btns_dv_top_1{
    display: grid;
    grid-column-gap: 5px !important;
    grid-template-columns: 1fr 1fr !important;
}